@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.font-poppins{
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
*{
    margin: 0 auto;
    box-sizing: border-box;
}
body{
    max-width: 1200px;
}
/*Shared style starts*/
.display-flex{
    display: flex;
}

.nav-color{
    color: #3A3A3A;
}

.btn{
    background-color: #E02C6D;
    color: #FFFFFF;
    border-radius: 41px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    padding: 18px;
}
.btn:hover{
    cursor: pointer;
}
/*Shared style ends*/

/*Header part*/
header{
    background-image: url('../images/Circle\ design.svg');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size:auto;
    
    margin: 0 auto;
}
nav{
    justify-content: space-between;
    gap:400px;
    align-items: center;
    margin-top: 60px;
}
.nav-title h2{
    font-size: 24px;
    font-weight: 700;
}
.nav-menu ul{
    gap: 30px;
}
nav .nav-menu ul li{
    list-style-type: none;
}
.nav-menu li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}
#search-icon{
    width: 24px;
    height: 24px;
    color: #000000;
}
#cart-icon{
    width: 25px;
    height: 25px;
    color: #000000;
}
.hero-banner{
    justify-content: center;
    /* align-items: center; */
    margin-top: 80px;
    margin-bottom: 100px;
    gap: 130px;
}
.hero-content{
    max-width: 580px;
}
.hero-title{
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 70px;
}
.hero-des{
    font-size: 1rem;
    font-weight: 600;
    margin: 16px 0 16px;
}
.hero-image{
    max-width: 440px;
}
.hero-image img{
    width: 100%;
}
#sponsor-brand{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    max-width: 1110px;
    margin-bottom: 100px;
}

.collection-title{
    text-align: center;
}

.collection-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.collection-card{
    background-color: #FFFFFF;
    max-width: 330px;

    padding: 16px;
    border-radius: 5px;
    box-shadow: 0 0 40 0 rgba(0, 0, 0, 0.15);
    
}
.collection-card img{
    max-width: 300px;
    max-height: 250px;
}