@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.font-poppins{
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
*{
    margin: 0 auto;
    box-sizing: border-box;
}
body{
    max-width: 1200px;
}
/*Shared style starts*/
.display-flex{
    display: flex;
}

.nav-color{
    color: #3A3A3A;
}

.btn{
    background-color: #E02C6D;
    color: #FFFFFF;
    border-radius: 41px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
}
/*Shared style ends*/

/*Header part*/
header{
    background-image: url('../images/Circle\ design.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}
nav{
    justify-content: space-between;
    align-items: center;
}
.nav-title h2{
    font-size: 24px;
    font-weight: 700;
}
.nav-menu ul{
    gap: 30px;
}
nav .nav-menu ul li{
    list-style-type: none;
}
.nav-menu li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}
#search-icon{
    width: 24px;
    height: 24px;
    color: #000000;
}
#cart-icon{
    width: 25px;
    height: 25px;
    color: #000000;
}
.hero-banner{
    gap: 130px;
}
.hero-content{
    max-width: 580px;
}
.hero-title{
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 70px;
}
.hero-des{
    font-size: 1rem;
    font-weight: 600;
}
.hero-image{
    max-width: 440px;
}
.hero-image img{
    width: 100%;
}
