@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.font-poppins{
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
*{
    margin: 0 auto;
    box-sizing: border-box;
}
body{
    max-width: 100%;
}
/*Shared style starts*/
.display-flex{
    display: flex;
}

.nav-color{
    color: #3A3A3A;
}

.btn{
    background-color: #E02C6D;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    font-weight: 700;
    padding: 18px;
}
.btn:hover{
    cursor: pointer;
}
/*Shared style ends*/

/*Header part*/
header{
    background-image: url('../images/Circle\ design.svg');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size:auto;
    
    margin: 0 auto;
    max-width: 1220px;
}
nav{
    justify-content: space-between;
    gap:400px;
    align-items: center;
    margin-top: 30px;
}
.nav-title a h2{
    font-size: 24px;
    font-weight: 700;
}
.nav-title a{
    text-decoration: none;
}
.nav-title:hover{
    cursor: pointer;
}
.nav-menu ul{
    gap: 30px;
}
nav .nav-menu ul li{
    list-style-type: none;
}
.nav-menu li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}
#search-icon{
    width: 24px;
    height: 24px;
    color: #000000;
}
#cart-icon{
    width: 25px;
    height: 25px;
    color: #000000;
}
.hero-banner{
    justify-content: center;
    /* align-items: center; */
    margin-top: 80px;
    margin-bottom: 100px;
    gap: 130px;
}
.hero-content{
    max-width: 580px;
}
.hero-title{
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 70px;
}
.hero-des{
    font-size: 1rem;
    font-weight: 600;
    margin: 16px 0 16px;
}
.hero-btn{
    border-radius: 40px;
}
.hero-image{
    max-width: 440px;
}
.hero-image img{
    width: 100%;
}
#sponsor-brand{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    max-width: 1110px;
    margin-bottom: 100px;
}

#collection{
    max-width: 1047px;
    margin-bottom: 100px;
}
.collection-title{
    text-align: center;
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 70px;
    margin-bottom: 30px;
}

.collection-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.collection-card{
    background-color: #FFFFFF;
    max-width: 330px;

    padding: 16px;
    border-radius: 5px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
    
}
.collection-card img{
    max-width: 300px;
    max-height: 250px;
}
#collection .see-more{
    margin-top: 50px;
    text-align: right;
}
.see-more a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    color: #E02C6D;
}

#featured{
    max-width: 1110px;
    margin-bottom: 100px;

    display: flex;
    gap: 95px;
    align-items: center;
}
.featured-title{
    font-size: 2.30rem;
    font-weight: 700;
    line-height: 60px;
    color: #0A0826;
    
}
.featured-des{
    font-size: 1rem;
    font-weight: 700;
    line-height: 28px;
    color: #6C6C6C;
    margin: 16px 0 16px;
}

#footer{
    background-color: #0A0826;
    padding-top: 50px;
    padding-bottom: 50px;   
    margin: 0 auto; 
    max-width: 1440px;
}
.footer-title{
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 4px;
    text-align: center;
}
.footer-des{
    text-align: center;
    font-size: 0.90rem;
    color: #D9DBE1;
    line-height: 24px;
}
#social ul{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 20px;
    max-width: 200px;
}
#social ul li a{
    width: 32px;
    height: 32px;
    color: #FFFFFF;
}

/*for small devices*/

@media screen and (max-width: 576px){
    nav, .nav-menu ul{
        flex-direction: column;
    }
    nav{
        gap: 50px;
    }
    header{
    background-image: url('../images/Circle\ design.svg');
    background-repeat: no-repeat;
    background-position: center 440px;
    background-size: 100%;
    
    margin: 0 auto;
}
    .hero-banner{
        flex-direction: column-reverse;
        text-align: center;
    }
    .hero-image{
        width: 100%;
    }
    #sponsor-brand{
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
    .collection-cards{
        grid-template-columns: repeat(1, 1fr);
    }
    #featured{
        flex-direction: column-reverse;
        text-align: center;
    }
}